* {
  box-sizing: border-box;
}

/* font-family: 'Roboto Condensed', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* *:focus {
  outline: 2px dotted #DE2E54;
  outline-offset: 3px;
} */

/* Header section styles */
header {
  padding: 24px 0;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
  transition: color 0.4s ease;
}

.logo-link:hover .logo-text {
  color: #DE2E54;
}

.logo-link:active  {
  opacity: 0.6;
}

.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 497px;
  height: 21px;
}



.navlist-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
  transition: color 0.4s ease;
}

.navlist-link:hover {
  color: #DE2E54;
}

.navlist-link:active {
  opacity: 0.6;
}

.register-link {
  display: inline-block;
  padding: 12px 24px;
  width: 190px;
  height: 47px;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;

  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 1px;
  /*shu yerni va shrift turini to'grilash kerak*/
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.register-link:hover {
  background-color: #fff;
  color: #DE2E54;
}

.register-link:active {
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}

/* Hero section styles */
.hero {
  color: #FFFFFF;
  background-color: rgba(14, 180, 193, 1);
  padding-top: 29px;
}

.hero-content {
  width: 500px;
  height: 293px;
}

.hero-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-text {
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-img {
  width: 423px;
  height: 504px;
}

/* Main section styles */
.services {
  padding: 120px 0;
}

.services-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 133px;
  height: 43px;
  margin-bottom: 56px;
}

.services-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 864px;
  height: 1040px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
}

.services-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-card img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}


.services-card-content {
  width: 600px;
  height: 149px;
}

.services-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #222222;
  margin-top: 0;
  margin-bottom: 24px;
}

.services-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

.services-register-link {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* footer section styles */

.footer-top {
  color: #FFFFFF;
  background-color: #0EB4C1;
  height: 253px;
  padding: 64px 0;
}

.footer-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  font-family: 'Roboto Condensed', sans-serif;
  width: 365px;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 0;

}

.footer-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;

  padding: 12px 24px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  transition: background-color 0.2s ease, border 0.2s ease;
}

.footer-btn:hover {
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
}

.footer-btn:active {
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}

.footer-top-links {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-left: auto;
  margin-right: auto;

}

.footer-bottom {
  background: #222222;
}

.footer-bottom .container {
  padding: 24px 0;
}

.footer-bottom a {
  color: #FFFFFF;
}

.footer-bottom .logo-text {
  color: #fff;
}

.footer-bottom .navlist .navlist-link:active {
  color: #fff;
  opacity: 0.6;
}
.footer-bottom .logo-link:active .logo-text {
  color: #fff;
  opacity: 0.6;
}