* {
  box-sizing: border-box;
}

/* font-family: 'Roboto Condensed', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header section styles */

.logo-link {
  display: inline-block;
}

.logo-img {
  width: 185px;
  height: 50px;
}

.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 497px;
  height: 21px;
}



.navlist-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.register-link {
  display: inline-block;
  padding: 12px 24px;
  width: 190px;
  height: 47px;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;

  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 1px;
  /*shu yerni va shrift turini to'grilash kerak*/
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Hero section styles */
.hero {
  color: #FFFFFF;
  background-color: rgba(14, 180, 193, 1);
  padding-top: 29px;
}

.hero-content {
  width: 500px;
  height: 293px;
}

.hero-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-text {
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-img {
  width: 423px;
  height: 504px;
}

/* Main section styles */
.services {
  padding: 120px 0;
}

.services-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 133px;
  height: 43px;
  margin-bottom: 56px;
}

.services-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 864px;
  height: 1040px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
}

.services-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-card img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}


.services-card-content {
  width: 600px;
  height: 149px;
}

.services-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #222222;
  margin-top: 0;
  margin-bottom: 24px;
}

.services-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

.services-register-link {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* footer section styles */
.footer-heading {

}
.footer-btn {
}
.footer-bottom {
}